body{
	
	background-color:#f9f9f9;
	
}

.youtubeHeader{
	background-color:white;
	width:100%;
	position:fixed;
	top:0%;
	flex-direction:row;
	justify-content:space-between;
	align-items:center;
	height:60px;
	
}

.youtubeLogo{
	height:29px;
	margin:7px;
	margin-top:10px;
	margin-left:10px;
	cursor:pointer;
	
}